#tittle {
    font-size: 55px;
    text-align: center;
    

}

.seccionZapas{
    font-size: 60px;
    color: gray;
    text-align: center;
}
p{
    color: gray;
}
/*1rem = 16px*/

.card{
    align-content: center;
    background-color: white;
    color: black;
    margin: 2rem;
   
}
.btn {
background-color: white;
color: black;
}


.container{
    display: flex;
   justify-content: center;
    padding: 1rem;
    
}

.container:hover {
      transform: scale(1.08);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    }

/*Pantalla de Celular*/
@media (max-width: 750px){
    .card{
        width: 100%;
    }
    .title{
    color: green;
    text-align: center;
    }
}

.nosee{
    width: 100%;
    height: 450px;
    margin: 0PX;

}

.site-footer {
  background-color: #111111;
  color: #FFFFFF;
  padding: 40px 20px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.footer-contact,
.footer-social {
  flex: 1 1 300px;
  margin: 10px;
}
.footer-contact h3,
.footer-social h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #fff;
}
.footer-link {
  color: #f0f0f0;
  text-decoration: none;
  transition: color 0.2s;
}
.footer-link:hover {
  color: #1abc9c;
}
.footer-bottom {
  text-align: center;
  padding-top: 30px;
  font-size: 0.9em;
  border-top: 1px solid #444;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-contact,
  .footer-social {
    margin: 20px 0;
  }
}

.precio {
    color: #111111;
}