.navbar{
    background-color: rgb(0, 0, 0) !important;
    transition: background-color 3s gray; /* animación suave */
}

.Registrate {
    padding-right: 20px;
}

.icono{
    height: 100%;
    width: 50px;
   
}
a:hover{
    color: gray;
}

a{
   color: rgb(255, 255, 255)
}

button{
    color: rgb(255, 255, 255);
    border-color: white;
}

.dropdown-menu{
    background-color: black
    ;
}

